<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->

        <!-- Disable the second-level cache -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
           <!--<property name="hbm2ddl.auto">update</property>-->

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create</property>
        <mapping class="Models.Make"/>
        <mapping class="Models.Product"/>
        <mapping class="Models.Inventory"/>
        <mapping class="Models.Customer"/>
        <mapping class="Models.Dealer"/>
        <mapping class="Models.ProductInventory"/>
        <mapping class="Models.Sale"/>
        <mapping class="Models.SaleDetail"/>
        <mapping class="Models.Staff"/>
        <mapping class="Models.ProductDealer"/>
    </session-factory>
</hibernate-configuration>